.app-menu-bg {
  z-index: 100;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
}
html.appmenu-opened .app-menu-bg {
  display: block;
}

.list-item {
  font-family: "Microsoft Yahei", Arial, "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
  font-size: 1.6rem;
  font-weight: normal;
  padding:0.8rem;
  margin: 0px;
}
